body 
{
  font-family: "SUSE", sans-serif;
  font-weight: 300;
  font-style: normal;
    margin: 0;
    background-color: #ECF6F6;
}
    
header {
    background-color: #E2F5E8;
    padding: 2rem 2vw;
}
header h1{
    margin: 0;
    color: #658AA5;
}  
header p{
    margin: 0;
    color: #658AA5;
    letter-spacing: .5px;
}  

/* nav stuff goes here */
nav {
    background-color: #81A59A;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: -1.15em;
    display: flex;
}
nav a {
    font size: 1.1rem;
    text-decoration: none;
    color: #8A5A4F;
    font-weight: 700;
    display: block;
    padding: .82rem 2rem;
}
nav li.active a {
    background-color:#6A8071; 
    color: #8A5A4F;
}
nav a:hover {
    color: white;
}

/* stuff for the main*/
main {
    padding: 1.5rem 2vw;
}

main h1 {
    color: #86A592;
}

main h2 {
    color: #86A592;
        margin-bottom: .2rem;
}

main p {
    color: #000000;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #E2F5E8;
}

main dl dt {
    color: #86A592;
    font-weight: 700;
}

main dl dd {
    color:#024873;
    font-size: .9rem;
}

main ul {
    list-style-type: disc;
}

main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #C5F8D6;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873; 
    border-radius: 5px;
}

main a {
    color: #024873;
}

main a:hover {
    color: rgb(239,0,24);
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #b64e11;

/*Footer stuff here*/
footer {
   background-color: #eaeaea;
    text-align: center;
    color: #024872;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #024872;
}


    




